@import "colors.scss";

header {
  background-color: $light-beige;

  .searchContainer {
    display: none;
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  #title-nav {
    justify-content: flex-end;
  }

  .navbar.bg-beige {
    .book-icon {
      color: darken($gray, 20%);
      margin-right: 0.5em;
    }

    .navbar-brand {
      color: darken($gray, 20%);
    }
  }

  .add-a-book,
  .back-to-shelves {
    color: $light-salmon;
    cursor: pointer;
    transition: all, 0.3s ease-in-out;

    &:hover {
      text-decoration: none;
      color: darken($dark-salmon, 10%);
    }
  }

  .back-to-shelves {
    display: inline-block;
    text-align: right;
  }

  &.search {
    display: block;

     .search-container {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: flex-end;
     }
  }
}